<!--model binding with person class -->
@model PrjMVCDay1.Models.Person
@{
    ViewData["Title"] = "DisplayPerson";
}

<h1>DisplayPerson</h1>
<h2>   <span style="color:palevioletred">Model</span>- binds with the property of the person class</h2>
<li>@Model.name</li>
<li>@Model.city</li>