<p>category works!</p>
<div >
  Enter CategoryName<input type="text" name="cname" [(ngModel)]="category.categoryName"/>
 Description<input type="text" name="cdesc" [(ngModel)]="category.description"/>
 Picture<input type="text" name="picture" [(ngModel)]="category.picture"/>
  <button class="btn btn-primary" (click)="addCategory()">Add</button>
  <button class="btn btn-primary" (click)="updateCategory()">update</button>
  </div>


<hr/>
<table class="table">
    <thead>
      <tr>
        <th>CategoryName</th>
        <th>CategoryDescription</th>
       
      </tr>
    </thead>
    <tbody *ngFor="let c of categoryinfo">
      <tr>
        <td>{{c.categoryName}}</td>
        <td>{{c.description}}</td>
        <td><button class="btn btn-danger" (click)="removeCategory(c.categoryId)">Delete</button></td>
        <td><button class="btn btn-success" (click)="editCategory(c.categoryId)">Edit</button></td>
      </tr>
    </tbody>
  </table>

  
